<!DOCTYPE html>
<html>
    <head>
        <title>Academic Schedule - Delete Year</title>
        <link rel="stylesheet" type="text/css" href="/CSS/overall.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/delete.css"/>
        <script type = "text/javascript"  src = "/Scripts/date.js" ></script>
    </head>
    <header class="banner" role="banner">
        <div class="bannerLeft">
            <img src="/Images/UR_Logo_Primary_Reverse_White.png" alt="UofR logo" role="img"/>
        </div>
        <div class="bannerMiddle">
            2022-2023 Academic Schedule</br>
            <span class="subtitle">Delete an Existing Year</span>
        </div>
        <div class="bannerRight">
            <p id="date"></p>
        </div>
    </header>
    <body class="mainContainer"><!-- style="display:block!important;margin-top:20vh" -->
        <div class="content center">
            <h2>Delete a Calendar</h2>
            <form class="forms" id="delete" onsubmit="return main(this.value)">
                <label for="semester">Semester:</label>
                <select name="semester">
                    <option value="" select="disabled hidden">Select Semester</option>
                    <option value="winter_2023">Winter 2023</option>
                    <option value="fall_2023">Fall 2023</option>
                    <option value="fall_2022">Fall 2022</option>
                    <option value="winter_2022">Winter 2022</option>
                </select>
                <br>
                <br>
                <div class="center">
                    <input type="submit" value = "Delete" class="">
                </div>
            </form>
        </div>
        <footer class="bottom">
            <div class="bottomRight">
                <a class="right" href="semesterView.html">Logout</a>
            </div>
        </footer>
    </body>
    
    
    
</html>